body::before {
    display: block;
    content: '';
    height:0px;
}

 


 




/* 
@media(min-width: 768px)  {
    .news-input{
        width: 75%;
    }

    .subscribe {
        font-family: sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40vh;
        overflow: hidden;
        margin: 0 10rem;
        flex-direction: column;
    }

   
}

@media (max-width: 390px) {
 
    

    .site-introduction .site-title {
        margin: 1.5rem 0;
    }

    .site-introduction .img-fluid {
        margin-right: 0;
        border:  5px solid #854fee;
    }

    .button-group  button {
        font-size: 0.9rem;
    }

    .subscribe .input-group {
        left: 0;
    }
    

    .project-area button:hover {
        outline: 0px !important; 
        color: #fff;
        font-weight: 900; 
        border: linear-gradient(90deg, #4458dc 0%, #854fee 100% );
    }

    .project-area .our-project .project-img {
        width: 85vw;
        height: 40vh;
        margin-left: -3rem;
    }
 
    .project-area .title {
        margin-left: -5rem;
    }

    .footer-area .copyright .fonts a > i {
        font-size: 2rem;
        padding: 0.5rem;
        color: #999;
    }

    .footer-area .copyrights .para a {
        text-decoration: none;
        font-size: 1.5rem;
    }
  

}

@media (min-width: 390px) and (max-width: 500px) {

    .site-introduction .site-title {
        margin: 1.5rem 0;
    }

    .site-introduction .img-fluid {
        margin-right: 0;
        border: 5px solid #854fee;
    }

    .subscribe .input-group {
        left: 0;
    }

    .project-area button:hover {
        outline: 0px !important; 
        color: #fff;
        font-weight: 900; 
        border: linear-gradient(90deg, #4458dc 0%, #854fee 100% );
    }

    .project-area .our-project .project-img {
        width: 85vw;
        height: 40vh;
        margin-left: -3rem;
    }
 
    .project-area .title {
        margin-left: -5rem;
    }
   
    .footer-area .copyright .fonts a > i {
        font-size: 2rem;
        padding: 0.5rem;
        color: #999;
    }

    .footer-area .copyrights .para a {
        text-decoration: none;
        font-size: 1.5rem;
    }

}

@media (min-width: 768px) and (max-width: 900px) {

    .site-introduction {
        margin-top: 2rem;
    }

   .site-introduction .img-fluid {
       margin-left: 2rem;
   }

   .subscribe {
       height: 20vh;
       width: 90vw;
       margin-left: 2.5rem;
   }

   .project-area .our-project .project-img {
       width: 85vw;
       height: 45vh;
       margin-left: -4rem;
   }

   .project-area .title {
       margin-left: -4rem;
   }

} */